$themes: (
        light: (
                background_color: #fff, //背景色
                text-color: rgba(0, 0, 0, 0.7), // 主文本色
        ),
        dark: (
                background_color: #24292e, //背景
                text-color: rgba(255, 255, 255, 0.7), // 主文本色
        )
);
